assignment5-pi.txt
[{"id":"19ef58dd.52c117","type":"inject","z":"c3ce0d71.05e43","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":110,"y":300,"wires":[["9c1fb217.ec5da"]]},{"id":"9e9d4e7c.1fb42","type":"rpi-sensehat in","z":"c3ce0d71.05e43","name":"","motion":false,"env":true,"stick":false,"x":110,"y":400,"wires":[["433456dd.0f1678"]]},{"id":"ffa9eb65.9c0fa8","type":"debug","z":"c3ce0d71.05e43","name":"","active":false,"console":"false","complete":"false","x":500,"y":240,"wires":[]},{"id":"433456dd.0f1678","type":"switch","z":"c3ce0d71.05e43","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"}],"checkall":"true","outputs":1,"x":288,"y":397,"wires":[["3344e234.0f373e"]]},{"id":"7a7765dc.bf1d3c","type":"function","z":"c3ce0d71.05e43","name":"","func":"var payload = msg.payload;\nflow.set('temperature',payload.temperature);\nmsg.payload = {'d' : {'temperature':payload.temperature, 'humidity':payload.humidity}};\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":302,"wires":[["c49f4507.daa4d8","ffa9eb65.9c0fa8"]]},{"id":"c49f4507.daa4d8","type":"wiotp out","z":"c3ce0d71.05e43","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"55585891.1fc618","deviceType":"senseHat","deviceId":"senb827ebccf3d0","event":"event","format":"json","qos":"","name":"","x":470,"y":300,"wires":[]},{"id":"43f0c208.b4252c","type":"wiotp in","z":"c3ce0d71.05e43","authType":"g","deviceKey":"55585891.1fc618","deviceType":"senseHat","deviceId":"senb827ebccf3d0","command":"+","commandType":"d","qos":0,"name":"","x":91,"y":489,"wires":[["a498d221.33b97"]]},{"id":"31e168bf.590708","type":"debug","z":"c3ce0d71.05e43","name":"","active":false,"console":"false","complete":"payload","x":500,"y":520,"wires":[]},{"id":"9c1fb217.ec5da","type":"exec","z":"c3ce0d71.05e43","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":210,"y":160,"wires":[["7838266e.e24fc8"],[],[]]},{"id":"7838266e.e24fc8","type":"function","z":"c3ce0d71.05e43","name":"","func":"var output = msg.payload.match(/\\d*\\.\\d*/);\nmsg.payload={'d':{'temp':output[0]}};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["8c9d54ac.90d2b8","ffa9eb65.9c0fa8"]]},{"id":"8c9d54ac.90d2b8","type":"wiotp out","z":"c3ce0d71.05e43","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"7b8944d.78abebc","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":530,"y":140,"wires":[]},{"id":"3344e234.0f373e","type":"delay","z":"c3ce0d71.05e43","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":400,"wires":[["7a7765dc.bf1d3c","a498d221.33b97"]]},{"id":"a498d221.33b97","type":"function","z":"c3ce0d71.05e43","name":"","func":"var r = flow.get('r');\nvar g = flow.get('g');\nvar b = flow.get('b');\n// Initialize r, g, b ... Unsure if this is necessary\nif (!r) {\n    r = 0;\n    flow.set('r', 0);\n}\nif (!g) {\n    g=0;\n    flow.set('g',0);\n}\nif (!b) {\n    b=0;\n    flow.set('b',0);\n}\n\nif (msg.payload.screen == \"on\") {\n    r = 128;\n    g = 0;\n    flow.set('r', r);\n    flow.set('g', g);\n} else if (msg.payload.screen == \"off\") {\n    g = 128;\n    r = 0;\n    flow.set('g', g);\n    flow.set('r', r);\n}\n\nvar temp = flow.get('temperature');\nif (msg.topic == \"environment\") {\n    // This temperature may be newer than what's in our flow context\n    temp = msg.payload.temperature;\n}\n\ntemp = Math.floor(temp);\n// Drop the decimal\nvar tens = Math.floor(temp / 10);\nvar ones = temp % 10;\n//node.warn('temp '+temp+' is '+tens+' tens and '+ones+' ones');\n\n// Sense hat RGB string:\nvar pixels = \"*,*,\"+ r + \",\" + g + \",\" + b; // Full screen of calculated colour\n\n// Fill tens pixels in columns 2-3 - coords 1,1-6, 2,1-6\nvar col=1;\nvar row=1;\nfor (var i=0; i<tens; i++) {\n    pixels += \",\" + col + \",\" + row + \",192,192,192\";\n    row++;\n    if (row >6) {\n        row = 1;\n        col++;\n        if (col > 2) {\n            node.warn(\"Using too many columns to display tens on Sense Hat for temp\" + temp);\n        }\n    }\n}\n// Fill ones pixels in columns6-7 rows 2-7\ncol = 5;\nrow = 1;\nfor (var i=0; i<ones; i++) {\n    pixels += \",\" + col + \",\" + row + \",192,192,192\";\n    row++;\n    if (row > 6) {\n        row = 1;\n        col++;\n        if (col>6) {\n            node.warn(\"Using too many columns to display ones on Sense Hat for temp \" + temp);\n        }\n    }\n}\n\nreturn {'payload':pixels};","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["31e168bf.590708","c523b977.577f98"]]},{"id":"c523b977.577f98","type":"rpi-sensehat out","z":"c3ce0d71.05e43","name":"","x":463,"y":648,"wires":[]},{"id":"55585891.1fc618","type":"wiotp-credentials","z":"","name":"","org":"0sq3bo","serverName":"","devType":"raspberryGW","devId":"b827eb99a685","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"7b8944d.78abebc","type":"wiotp-credentials","z":"","name":"","org":"0sq3bo","serverName":"","devType":"raspberrypi","devId":"b827ebccf3d0","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
