assignment1.txt
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1"},{"id":"6a9e87d9.e20508","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":105.5,"y":163,"wires":[["bb696764.48cc48"]]},{"id":"bb696764.48cc48","type":"random","z":"deb0d57.1c46528","name":"","low":"0","high":"10","inte":"true","x":301.5,"y":164,"wires":[["d1d07f5a.6f829"]]},{"id":"192fc31d.01158d","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"false","x":609.5,"y":173,"wires":[]},{"id":"d1d07f5a.6f829","type":"function","z":"deb0d57.1c46528","name":"","func":"var newPayload = \"Number \" + msg.payload + \" is a \";\nif (msg.payload < 5) {\n    newPayload += \"low\";\n} else {\n    newPayload += \"high\";\n}\nnewPayload += \" number\";\nreturn {payload: newPayload};","outputs":1,"noerr":0,"x":405.5,"y":248,"wires":[["192fc31d.01158d"]]}]
