assignment2.txt
[{"id":"18ae5bcd.97caf4","type":"http in","z":"deb0d57.1c46528","name":"/time","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":91.5,"y":120,"wires":[["d8f7ad6.560d75"]]},{"id":"add87b65.cec688","type":"http in","z":"deb0d57.1c46528","name":"/random","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":86.5,"y":202,"wires":[["d59c53e9.669bc"]]},{"id":"218d8387.c87e8c","type":"http in","z":"deb0d57.1c46528","name":"/page","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":72.5,"y":278,"wires":[["de4f9db7.c4954"]]},{"id":"d59c53e9.669bc","type":"random","z":"deb0d57.1c46528","name":"","low":"1","high":"10","inte":"true","x":249.5,"y":201,"wires":[["a41aac57.77d3f"]]},{"id":"8cc500c6.e92ef","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":556.5,"y":204,"wires":[]},{"id":"a41aac57.77d3f","type":"function","z":"deb0d57.1c46528","name":"","func":"global.set(\"random\", msg.payload);\n\nmsg.headers={\"Content-Type\":\"application/json\"}\nmsg.payload={\"random\":msg.payload}\n\nvar time = new Date();\nvar hours = time.getHours();\nvar minutes = time.getMinutes();\nif (hours < 10) {\n    hours = \"0\" + hours;\n}\nif (minutes < 10) {\n    minutes = \"0\" + minutes;\n}\nglobal.set(\"random_time\", hours + \":\" + minutes);\n\nreturn msg;","outputs":1,"noerr":0,"x":404.5,"y":202,"wires":[["8cc500c6.e92ef"]]},{"id":"d8f7ad6.560d75","type":"function","z":"deb0d57.1c46528","name":"","func":"msg.headers={\"Content-Type\":\"application/json\"};\nvar time=new Date();\nvar hours = time.getHours();\nvar minutes = time.getMinutes();\nif (hours < 10) {\n    hours = \"0\" + hours;\n}\nif (minutes < 10) {\n    hours = \"0\" + minutes;\n}\nmsg.payload={\"time\":hours + \":\" + minutes};\n\n//var context = this.context();\nglobal.set(\"time\", hours + \":\" + minutes);\nreturn msg;","outputs":1,"noerr":0,"x":228.5,"y":121,"wires":[["3b3abcc.b7e3744"]]},{"id":"3b3abcc.b7e3744","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":367.5,"y":121,"wires":[]},{"id":"de4f9db7.c4954","type":"template","z":"deb0d57.1c46528","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{^global.time}}\n    No server time requests have been received\n{{/global.time}}\n\n{{#global.time}}\n    Time last server time request received at {{global.time}}\n{{/global.time}}\n<br/>\n{{^global.random}}\n    No requests for random numbers have been received\n{{/global.random}}\n\n{{#global.random}}\n    Last random number request returned {{global.random}}, which was received at {{global.random_time}}\n{{/global.random}}","output":"str","x":234.5,"y":279,"wires":[["d98a514c.b2873"]]},{"id":"d98a514c.b2873","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":401.5,"y":276,"wires":[]}]
