assignment3.txt
[{"id":"be481a32.d17218","type":"wiotp out","z":"d577184a.1d56d8","authType":"d","qs":"true","qsDeviceId":"be481a32.d17218","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":539,"y":246,"wires":[]},{"id":"b482703e.49f16","type":"inject","z":"d577184a.1d56d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":110,"y":140,"wires":[["c0659366.28487"]]},{"id":"b6a14726.c032b8","type":"debug","z":"d577184a.1d56d8","name":"","active":false,"console":"false","complete":"false","x":593,"y":138,"wires":[]},{"id":"1de45a09.f531a6","type":"function","z":"d577184a.1d56d8","name":"","func":"var output = msg.payload;\nvar temp = output.match(/(\\d*\\.\\d*)/);\nmsg.payload = {'d' : {'temp':temp[0]}};\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":178,"wires":[["b6a14726.c032b8","be481a32.d17218"]]},{"id":"c0659366.28487","type":"exec","z":"d577184a.1d56d8","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":290,"y":120,"wires":[["1de45a09.f531a6"],[],[]]}]
