assignment5-bluemix.txt
[{"id":"b6e290bb.bfc69","type":"ibmiot in","z":"b06b414f.5c2d2","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"senb827ebccf3d0","applicationId":"","deviceType":"+senseHat","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":108.5,"y":190,"wires":[["46826850.4aff78"]]},{"id":"48033050.6663e","type":"switch","z":"b06b414f.5c2d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"jsonata"}],"checkall":"true","outputs":1,"x":420.5,"y":182,"wires":[["df2ca303.bf7d4","8eca8787.bd09d8"]]},{"id":"46826850.4aff78","type":"function","z":"b06b414f.5c2d2","name":"","func":"var temp = msg.payload.d.temperature;\nvar last_temp = flow.get('temp');\nif (!last_temp) {\n    last_temp = 0;\n}\nflow.set('temp', temp);\n\nif (last_temp < 29 && temp > 29) {\n    // We've gone above the threshold\n    msg.payload = { 'screen':'on'};\n} else if (last_temp > 29 && temp < 29) {\n    // We've gone below the threshold\n    msg.payload = { 'screen':'off'};\n} else {\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":250.5,"y":187,"wires":[["48033050.6663e"]]},{"id":"df2ca303.bf7d4","type":"ibmiot out","z":"b06b414f.5c2d2","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"senb827ebccf3d0","deviceType":"senseHat","eventCommandType":"display","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":584.5,"y":181,"wires":[]},{"id":"8eca8787.bd09d8","type":"debug","z":"b06b414f.5c2d2","name":"","active":true,"console":"false","complete":"false","x":597.5,"y":120,"wires":[]},{"id":"62bacf24.d9fa2","type":"inject","z":"b06b414f.5c2d2","name":"","topic":"","payload":"28","payloadType":"num","repeat":"","crontab":"","once":false,"x":80.5,"y":23,"wires":[["d36f7455.743858"]]},{"id":"d36f7455.743858","type":"function","z":"b06b414f.5c2d2","name":"","func":"msg.payload={'d':{'temperature':msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":321.5,"y":53,"wires":[["46826850.4aff78"]]},{"id":"a3125599.b9da88","type":"inject","z":"b06b414f.5c2d2","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"x":79.5,"y":104,"wires":[["d36f7455.743858"]]}]
